.first{
  animation: firstResult 3.5s linear;
  opacity: 100%;
}

.second{
  animation: secondResult 3.5s linear;
  opacity: 0%;
}

@keyframes firstResult{
  0% {
    opacity: 0%;
  }
  5%{
    opacity: 100%;
  }
  10%{
    opacity: 0%;
  }
  15%{
    opacity: 100%;
  }
  25%{
    opacity: 0%;
  }
  40%{
    opacity: 100%;
  }
  60%{
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes secondResult{
  0% {
    opacity: 100%;
  }
  5%{
    opacity: 0%;
  }
  10%{
    opacity: 100%;
  }
  15%{
    opacity: 0%;
  }
  25%{
    opacity: 100%;
  }
  40%{
    opacity: 0%;
  }
  60%{
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

